html {
  height: 100%;
  width: 100%;
}
.userId {
  color : salmon;
  font-family: "JetBrains Mono";
}
.id {
  color : darkslategrey;
}
.title {
  background-color : silver;
  color : forestgreen;
  font-size : xx-large;
}
.body {
  background-color : lawngreen;
}
#loadingPopUp {
  position : fixed;
  display : flex;
  justify-content : center;
  align-items : center;
  width : 90%;
  height : 75%;
  top : 12.5%;
  left : 2.5%;
  background-color : lightblue;
  font-size : 60px;
  border-color : goldenrod;
  border-width : 25px;
  border-style : groove;
}